body {
	background:url(balloonbkg.jpg) no-repeat center center fixed;
	background-size: cover;
}

.transBox {
	background-color:#073642;
	opacity:.5;
	font-color:#EEE;
	padding: 10;
	text-align:center;
}